force-app/main/default/flows/AL_Slack_to_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Detail</name>
        <label>Assign Case Detail</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>vOutputCaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_You_Just_Created.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_the_CR_ID_to_Use</name>
        <label>Assign the CR ID to Use</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vCRidToUse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_if_this_CR_already_exists.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Swarm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_the_CR_ID_to_Use</name>
        <label>Assign the CR ID to Use</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>vCRidToUse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_the_CR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Swarm</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Need_to_create_the_cr</name>
        <label>Need to create the cr?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_the_CR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need to create one</defaultConnectorLabel>
        <rules>
            <name>CR_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>See_if_this_CR_already_exists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_CR_ID_to_Use</targetReference>
            </connector>
            <label>CR Already Exists</label>
        </rules>
    </decisions>
    <description>Allows us to offer slack as an inbound channel</description>
    <environments>Default</environments>
    <formulas>
        <name>fChannelID</name>
        <dataType>String</dataType>
        <expression>MID(
  {!vInputLink},
  FIND(&quot;/archives/&quot;, {!vInputLink}) + 10,
  FIND(&quot;/p&quot;, {!vInputLink}) - FIND(&quot;/archives/&quot;, {!vInputLink}) - 10
)</expression>
    </formulas>
    <formulas>
        <name>fFormattedURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://app.slack.com/client/&quot;&amp;{!Get_Workspace.TeamKey} &amp;
&quot;/&quot; &amp;
/* Extract Channel ID */
MID(
  {!vInputLink},
  FIND(&quot;/archives/&quot;, {!vInputLink}) + 10,
  FIND(&quot;/p&quot;, {!vInputLink}) - FIND(&quot;/archives/&quot;, {!vInputLink}) - 10
) &amp;
&quot;/thread/&quot; &amp;
/* Repeat Channel ID */
MID(
  {!vInputLink},
  FIND(&quot;/archives/&quot;, {!vInputLink}) + 10,
  FIND(&quot;/p&quot;, {!vInputLink}) - FIND(&quot;/archives/&quot;, {!vInputLink}) - 10
) &amp;
&quot;-&quot; &amp;
/* First 10 digits of timestamp */
LEFT(
  MID(
    {!vInputLink},
    FIND(&quot;/p&quot;, {!vInputLink}) + 2,
    16
  ),
  10
) &amp;
&quot;.&quot; &amp;
/* Remaining digits after decimal */
RIGHT(
  MID(
    {!vInputLink},
    FIND(&quot;/p&quot;, {!vInputLink}) + 2,
    16
  ),
  LEN(MID({!vInputLink}, FIND(&quot;/p&quot;, {!vInputLink}) + 2, 16)) - 10
)</expression>
    </formulas>
    <formulas>
        <name>fTimestamp</name>
        <dataType>String</dataType>
        <expression>RIGHT(
  {!fFormattedURL},
  LEN({!fFormattedURL}) - FIND(&quot;-&quot;, {!fFormattedURL})
)</expression>
    </formulas>
    <interviewLabel>AL Slack to Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL Slack to Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Case</name>
        <label>Create a Case</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Case_You_Just_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Find_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Find_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>vInputDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Slack Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>vInputPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Slack Connect: {!vInputSubject}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Swarm</name>
        <label>Create a Swarm</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Assign_Case_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>CollaborationRoomId</field>
            <value>
                <elementReference>vCRidToUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationTool</field>
            <value>
                <stringValue>Slack</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationUrl</field>
            <value>
                <elementReference>fFormattedURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HelpNeeded</field>
            <value>
                <stringValue>Inbound request from Slack Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageKey</field>
            <value>
                <elementReference>fTimestamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>[EXTERNAL THREAD] for {!Get_Case_You_Just_Created.CaseNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>Swarming</stringValue>
            </value>
        </inputAssignments>
        <object>Swarm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_the_CR</name>
        <label>Create the CR</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_2_of_Assign_the_CR_ID_to_Use</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fChannelID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlatformKey</field>
            <value>
                <elementReference>fChannelID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamKey</field>
            <value>
                <elementReference>Get_Workspace.TeamKey</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationRoom</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Workspace</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vinputCustomerName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>so you can reference the case number</description>
        <name>Get_Case_You_Just_Created</name>
        <label>Get Case You Just Created</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>See_if_this_CR_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_a_Case</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets the workspace of the most recent swarm youve done. you dont have to do this!</description>
        <name>Get_Workspace</name>
        <label>Get Workspace</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Case</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationRoom</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>check if theres a dupe</description>
        <name>See_if_this_CR_already_exists</name>
        <label>See if this CR already exists</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_to_create_the_cr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fChannelID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationRoom</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vCRidToUse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vinputCustomerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInputDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInputLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInputPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInputSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOutputCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
